{% extends 'base.html' %}

{% block content %}
<form action="{{ url_for('auth.register') }}" method="post">
  <!-- Formulaire d'inscription -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            Inscription
          </div>
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
              {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('auth.register') }}">
              <div class="form-group">
                <label for="username">Nom d'Utilisateur</label>
                <input type="text" class="form-control" id="username" name="username"
                  placeholder="Entrez votre nom d'utilisateur" required>
              </div>
              <div class="form-group">
                <label for="email">Adresse Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email"
                  required>
              </div>
              <div class="form-group">
                <label for="password">Mot de Passe</label>
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="Entrez votre mot de passe" required>
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirmer le Mot de Passe</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                  placeholder="Confirmez votre mot de passe" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}