<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu.index') }}">Menus</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu.affiche_panier') }}">Panier</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Deconnexion</a>
      </li>

      {% if current_user.role == 1 %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Dashboard Admin</a>
      </li>
      {% endif %}



      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Inscription</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>